@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --legal-move-green: rgba(20, 85, 0, 0.3);
  --pre-move-gray: rgba(20, 30, 85, 0.4);
}

body {
  background-color: hsl(37, 7%, 7%);
}
